<ng-container *ngIf="value">
  <td contenteditable="true" appContentEditable [attr.data-th]="'title'" (ngModelChange)="modelChanged($event,'title')" [(ngModel)]="value['title']">
  </td>
  <td appContentEditable [attr.data-th]="'ApplyDateTime'" bsDatepicker [(ngModel)]="value['ApplyDateTime']" (bsValueChange)="modelChanged($event,'ApplyDateTime')"
    type="date">
    {{value['ApplyDateTime']|date:'yyyy-MM-dd'}}
  </td>
  <td contenteditable="true" appContentEditable [attr.data-th]="'ApplyDepartment'" (ngModelChange)="modelChanged($event,'ApplyDepartment')"
    [(ngModel)]="value['ApplyDepartment']">
  </td>
  <td contenteditable="true" appContentEditable [attr.data-th]="'ApplyName'" (ngModelChange)="modelChanged($event,'ApplyName')"
    [(ngModel)]="value['ApplyName']">
  </td>
  <td contenteditable="true" appContentEditable [attr.data-th]="'Description'" (ngModelChange)="modelChanged($event,'Description')"
    [(ngModel)]="value['Description']">
  </td>
  <td appContentEditable [attr.data-th]="'HandleDateTime'" bsDatepicker [(ngModel)]="value['HandleDateTime']" (bsValueChange)="modelChanged($event,'HandleDateTime')"
    type="date">
    {{value['HandleDateTime']|date:'yyyy-MM-dd'}}
  </td>
  <td contenteditable="true" appContentEditable [attr.data-th]="'HandleName'" (ngModelChange)="modelChanged($event,'HandleName')"
    [(ngModel)]="value['HandleName']">
  </td>
  <td appContentEditable [attr.data-th]="'ResolveDateTime'" bsDatepicker [(ngModel)]="value['ResolveDateTime']" (bsValueChange)="modelChanged($event,'ResolveDateTime')"
    type="date">
    {{value['ResolveDateTime']|date:'yyyy-MM-dd'}}
  </td>
  <td contenteditable="true" appContentEditable [attr.data-th]="'ResponseName'" (ngModelChange)="modelChanged($event,'ResponseName')"
    [(ngModel)]="value['ResponseName']">
  </td>
  <td contenteditable="true" appContentEditable [attr.data-th]="'Memo'" (ngModelChange)="modelChanged($event,'Memo')" [(ngModel)]="value['Memo']">
  </td>
  <td contenteditable="true" appContentEditable [attr.data-th]="'CompleteRate'" (ngModelChange)="modelChanged($event,'CompleteRate')"
    [(ngModel)]="value['CompleteRate']">
  </td>
  <ng-content></ng-content>
</ng-container>