th ,td{
    padding: 0;
    vertical-align: middle;
    position: relative;
}
[contenteditable="true"] {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background: white;
    min-width: 5em;
}