<td [attr.data-th]="'ProjectName'">
  <span>{{ProjectWorking['ProjectName']}}</span>
</td>
<td [attr.data-th]="'UserName'">
  <span>{{ProjectWorking['UserName']}}</span>
</td>
<td [attr.data-th]="'RecordDateTime'">
  <span>{{ProjectWorking['RecordDateTime']|date:'yyyy-MM-dd'}}</span>
</td>
<td [attr.data-th]="'Description'">
  <span>{{ProjectWorking['Description']}}</span>
</td>
<td [attr.data-th]="'WorkingHour'">
  <span>{{ProjectWorking['WorkingHour']}}</span>
</td>
<td [attr.data-th]="'WorkingType'">
  <span>{{ProjectWorking['WorkingType']}}</span>
</td>