<ng-container *ngIf="value">
  <td [attr.data-th]="'ProjectName'">
    <span>{{value['ProjectName']}}</span>
  </td>
  <td [attr.data-th]="'UserName'">
    <span>{{value['UserName']}}</span>
  </td>
  <td [attr.data-th]="'RecordDateTime'">
    <span>{{value['RecordDateTime']|date:'yyyy-MM-dd'}}</span>
  </td>
  <td [attr.data-th]="'Description'">
    <span>{{value['Description']}}</span>
  </td>
  <td [attr.data-th]="'WorkingHour'">
    <span>{{value['WorkingHour']}}</span>
  </td>
  <td [attr.data-th]="'WorkingType'">
    <span>{{value['WorkingType']}}</span>
  </td>
</ng-container>