<td [attr.data-th]="'ProjectName'">
  <span>{{Working['ProjectName']}}</span>
</td>
<td [attr.data-th]="'UserName'">
  <span>{{Working['UserName']}}</span>
</td>
<td [attr.data-th]="'RecordDateTime'">
  <span>{{Working['RecordDateTime']|date:'yyyy-MM-dd'}}</span>
</td>
<td [attr.data-th]="'Description'">
  <span>{{Working['Description']}}</span>
</td>
<td [attr.data-th]="'WorkingHour'">
  <span>{{Working['WorkingHour']}}</span>
</td>
<td [attr.data-th]="'WorkingType'">
  <span>{{Working['WorkingType']}}</span>
</td>