<td [attr.data-th]="'title'">
  <span *ngIf="!Editable">{{Online['title']}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" [(ngModel)]="Online['title']">
  </span>
</td>
<td [attr.data-th]="'ApplyDateTime'">
  <span *ngIf="!Editable">{{Online['ApplyDateTime']|date:'yyyy-MM-dd'}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" bsDatepicker [(ngModel)]="Online['ApplyDateTime']" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
    />
  </span>
</td>
<td [attr.data-th]="'ApplyDepartment'">
  <span *ngIf="!Editable">{{Online['ApplyDepartment']}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" [(ngModel)]="Online['ApplyDepartment']">
  </span>
</td>
<td [attr.data-th]="'ApplyName'">
  <span *ngIf="!Editable">{{Online['ApplyName']}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" [(ngModel)]="Online['ApplyName']">
  </span>
</td>
<td [attr.data-th]="'Description'">
  <span *ngIf="!Editable">{{Online['Description']}}</span>
  <span *ngIf="Editable">
    <textarea class="form-control" [(ngModel)]="Online['Description']">
    </textarea>
  </span>
</td>
<td [attr.data-th]="'HandleDateTime'">
  <span *ngIf="!Editable">{{Online['HandleDateTime']|date:'yyyy-MM-dd'}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" bsDatepicker [(ngModel)]="Online['HandleDateTime']" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
    />
  </span>
</td>
<td [attr.data-th]="'HandleName'">
  <span *ngIf="!Editable">{{Online['HandleName']}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" [(ngModel)]="Online['HandleName']">
  </span>
</td>
<td [attr.data-th]="'ResolveDateTime'">
  <span *ngIf="!Editable">{{Online['ResolveDateTime']|date:'yyyy-MM-dd'}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" bsDatepicker [(ngModel)]="Online['ResolveDateTime']" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
    />
  </span>
</td>
<td [attr.data-th]="'ResponseName'">
  <span *ngIf="!Editable">{{Online['ResponseName']}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" [(ngModel)]="Online['ResponseName']">
  </span>
</td>
<td [attr.data-th]="'Memo'">
  <span *ngIf="!Editable">{{Online['Memo']}}</span>
  <span *ngIf="Editable">
    <textarea class="form-control" [(ngModel)]="Online['Memo']">
      </textarea>
  </span>
</td>
<td [attr.data-th]="'CompleteRate'">
  <span *ngIf="!Editable">{{Online['CompleteRate']}}</span>
  <span *ngIf="Editable">
    <input type="number" class="form-control" [(ngModel)]="Online['CompleteRate']">
  </span>
</td>
<td>
  <button class="btn btn-primary" *ngIf="!Editable" (click)="Edit()">修改</button>
  <button class="btn btn-primary" *ngIf="Editable" (click)="Save()">儲存</button>
  <button class="btn btn-danger" (click)="Delete()">刪除</button>
</td>