<h2 class="text-center pt-2">{{Project['ProjectName']}}</h2>
<button class="btn btn-dark" [routerLink]="['../']">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
</button>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./member']" [queryParams]="{ PID:Project['PID'],ProjectName:Project['ProjectName'] }"
      [routerLinkActive]="'active'">專案人員</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./todolist']" [queryParams]="{ PID:Project['PID'],ProjectName:Project['ProjectName'] }"
      [routerLinkActive]="'active'">待辦事項</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./working']" [queryParams]="{ PID:Project['PID'],ProjectName:Project['ProjectName'] }"
      [routerLinkActive]="'active'">工作回報</a>
  </li>
</ul>
<router-outlet></router-outlet>