<ng-container *ngIf="value">
  <ng-content></ng-content>
  <td [attr.contenteditable]="Editable" appContentEditable [attr.data-th]="'ProjectName'" (ngModelChange)="onChangeCallback(value)"
    [(ngModel)]="value['ProjectName']">
  </td>
  <td [attr.contenteditable]="Editable" appContentEditable [attr.data-th]="'ProjectNo'" (ngModelChange)="onChangeCallback(value)"
    [(ngModel)]="value['ProjectNo']">
  </td>
  <td [attr.data-th]="'CreateDateTime'">
    {{value['CreateDateTime']|date:'yyyy-MM-dd'}}
  </td>
</ng-container>