<td [attr.data-th]="'ProjectName'">
  <span *ngIf="!Editable">{{Project['ProjectName']}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" [(ngModel)]="Project['ProjectName']">
  </span>
</td>
<td [attr.data-th]="'ProjectNo'">
  <span *ngIf="!Editable">{{Project['ProjectNo']}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" [(ngModel)]="Project['ProjectNo']">
  </span>
</td>
<td [attr.data-th]="'CreateDateTime'">
  {{Project['CreateDateTime']|date:'yyyy-MM-dd'}}
  <!-- <span *ngIf="!Editable">{{Project['CreateDateTime']|date:'yyyy-MM-dd'}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" bsDatepicker [(ngModel)]="Project['CreateDateTime']" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
    />
  </span> -->
</td>
<td [attr.data-th]="'ProjectMembers'">
  <span>
    <a class="btn btn-link" [routerLink]="['/projectmember']" [queryParams]="{ PID:Project['PID'],ProjectName:Project['ProjectName'] }"
      [routerLinkActive]="'active'">專案人員</a>
  </span>
</td>
<td [attr.data-th]="'ProjectWorkings'">
  <span>
    <a class="btn btn-link" [routerLink]="['/projectworking']" [queryParams]="{ PID:Project['PID'],ProjectName:Project['ProjectName'] }"
      [routerLinkActive]="'active'">工作回報</a>
  </span>
</td>
<td>
  <button class="btn btn-primary" *ngIf="!Editable" (click)="Edit()">修改</button>
  <button class="btn btn-primary" *ngIf="Editable" (click)="Save()">儲存</button>
  <button class="btn btn-danger" (click)="Delete()">刪除</button>
</td>&nbsp;