<ng-container *ngIf="value">
  <div class="card">
    <div class="card-header">
      <div class="btn-group float-right" dropdown placement="bottom" *ngIf="!Editable">
        <button dropdownToggle type="button" class="btn btn-light">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <button class="btn btn-link dropdown-item" (click)="emit('edit')">修改</button>
          </li>
          <li role="menuitem">
            <button class="btn btn-link dropdown-item" (click)="emit('delete')">刪除</button>
          </li>
        </ul>
      </div>
      <div class="card-title">
        <ul class="list-inline">
          <li class="list-inline-item h3 font-weight-bold">
            <dt class="font-weight-bold" *ngIf="Editable">標題:</dt>
            <dd [attr.contenteditable]="Editable" appContentEditable (ngModelChange)="onChangeCallback(value)" [(ngModel)]="value['title']"
              class="card-text editable"></dd>
          </li>
          <li class="list-inline-item">
            <dt class="font-weight-bold" *ngIf="Editable">指派:</dt>
            <dd *ngIf="Editable">
              <app-custom-select-input [(ngModel)]="value.PMID" [enableInput]="true" [LabelName]="value.MemberTitle" [filter]="{PID:value.PID}"
                type="projectmember" *ngIf="Editable"></app-custom-select-input>
            </dd>
            <dd class="card-text" *ngIf="!Editable">
              {{value['MemberTitle']}}
            </dd>
          </li>
          <li class="list-inline-item">
            <dt class="font-weight-bold" *ngIf="Editable">Tag:</dt>
            <dd class="card-text">
              <i class="fa fa-tag editable" aria-hidden="true" [attr.contenteditable]="Editable" appContentEditable (ngModelChange)="onChangeCallback(value)"
                [(ngModel)]="value['Tag']"></i>
            </dd>
          </li>
        </ul>
      </div>
      <h6 class="card-subtitle mb-2 text-muted" data-placeholder="提出時間" [attr.contenteditable]="Editable" appContentEditable (ngModelChange)="onChangeCallback(value)"
        [(ngModel)]="value['ApplyDateTime']" type="date">
      </h6>
      <div [collapse]="isCollapsed&&!Editable" class="card-body">
        <dt class="font-weight-bold">申請人:</dt>
        <dd [attr.contenteditable]="Editable" appContentEditable (ngModelChange)="onChangeCallback(value)" [(ngModel)]="value['ApplyName']"
          class="card-text editable"></dd>
        <dt class="font-weight-bold">內容:</dt>
        <dd [attr.contenteditable]="Editable" appContentEditable (ngModelChange)="onChangeCallback(value)" [(ngModel)]="value['Description']"
          class="card-text editable"></dd>
        <dt class="font-weight-bold">備註:</dt>
        <dd [attr.contenteditable]="Editable" appContentEditable (ngModelChange)="onChangeCallback(value)" [(ngModel)]="value['Memo']"
          class="card-text editable"></dd>
        <dt class="font-weight-bold">進度:</dt>
        <dd class="card-text">
          <input type="number" [(ngModel)]="value['CompleteRate']" (ngModelChange)="onChangeCallback(value)" *ngIf="Editable">
          <progressbar class="progress progress-striped" [max]="100" [value]="value?.CompleteRate" type="success">{{value.CompleteRate}}%</progressbar>
        </dd>
      </div>
      <button class="btn btn-success float-right" (click)="emit('save')" *ngIf="Editable">確認</button>
      <button type="button" class="btn btn-secondary float-right" (click)="emit('cancel')" *ngIf="Editable">取消</button>
      <button class="btn btn-light btn-sm btn-block" (click)="isCollapsed = !isCollapsed" *ngIf="!Editable">
        <i class="fa fa-arrow-down" aria-hidden="true" *ngIf="isCollapsed"></i>
        <i class="fa fa-arrow-up" aria-hidden="true" *ngIf="!isCollapsed"></i>
      </button>
    </div>
  </div>

  <!-- <div class="card" *ngIf="Editable">
    <div class="card-body">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            標題
          </span>
          <input type="text" [(ngModel)]="value.title" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <app-custom-select-input [(ngModel)]="value.PMID" [enableInput]="true" [LabelName]="value.MemberTitle" [filter]="{PID:value.PID}"
          type="projectmember"></app-custom-select-input>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            提出時間
          </span>
          <input type="text" class="form-control" appJDatetimepicker [(ngModel)]="value.ApplyDateTime">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            申請人
          </span>
          <input type="text" [(ngModel)]="value.ApplyName" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <textarea [(ngModel)]="value.Description" class="form-control" placeholder="工作內容"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group col-12">
          <span class="input-group-addon">
            標籤
          </span>
          <input type="text" [(ngModel)]="value.Tag" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group col-12">
          <span class="input-group-addon">
            備註
          </span>
          <input type="text" [(ngModel)]="value.Memo" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <div class="input-group">
            <span class="input-group-addon">
              完成度
            </span>
            <input type="number" [(ngModel)]="value.CompleteRate" max="100" min="0" class="form-control">
          </div>
          <progressbar class="progress progress-striped" [max]="100" [value]="value.CompleteRate" type="success">{{value.CompleteRate}}%</progressbar>
        </div>
      </div>
      <hr>
      <div class="form-group pb-1">
        <button class="btn btn-success float-right" (click)="emit('save')">確認</button>
        <button type="button" class="btn btn-secondary float-right" (click)="emit('cancel')">取消</button>
      </div>
    </div>
  </div> -->
</ng-container>