<div class="card" *ngIf="!IsForm">
  <div class="card-body">
    <h4 class="card-title">{{Todo.title}}
      <small>{{Todo.MemberTitle}}</small>
    </h4>
    <h6 class="card-subtitle mb-2 text-muted" title="提出時間">
      {{Todo.ApplyDateTime}}
    </h6>
    <p class="card-text">申請人:{{Todo.ApplyName}}</p>
    <p class="card-text">內容:{{Todo.Description}}</p>
    <p class="card-text">標籤:{{Todo.Tag}}</p>
    <p class="card-text">備註:{{Todo.Memo}}</p>
    <progressbar class="progress progress-striped" [max]="100" [value]="Todo.CompleteRate" type="success">{{Todo.CompleteRate}}%</progressbar>
    <button type="button" class="btn btn-link float-right" (click)="enable()">修改</button>
  </div>
</div>

<div class="card" *ngIf="IsForm">
  <form [formGroup]="Form" (ngSubmit)="submit()">
    <div class="card-body">
      <div class="form-group row">
        <div class="input-group col-12 col-sm-6">
          <span class="input-group-addon">
            標題
          </span>
          <input type="text" formControlName="title" class="form-control">
        </div>
        <div class="input-group col-12 col-sm-6">
          <span class="input-group-addon">
            指派人員
          </span>
          <select class="form-control" formControlName="PMID">
            <option *ngFor="let member of Members" [value]="member.PMID">{{member.title}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group col-12 col-sm-6">
          <span class="input-group-addon">
            提出時間
          </span>
          <input type="text" class="form-control" bsDatepicker formControlName="ApplyDateTime" value="{{Form.get('ApplyDateTime').value|date:'yyyy-MM-dd'}}">
        </div>
        <div class="input-group col-12 col-sm-6">
          <span class="input-group-addon">
            申請人
          </span>
          <input type="text" formControlName="ApplyName" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <textarea formControlName="Description" class="form-control" placeholder="工作內容"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group col-12">
          <span class="input-group-addon">
            標籤
          </span>
          <input type="text" formControlName="Tag" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group col-12">
          <span class="input-group-addon">
            備註
          </span>
          <input type="text" formControlName="Memo" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <div class="input-group">
            <span class="input-group-addon">
              完成度
            </span>
            <input type="number" formControlName="CompleteRate" max="100" min="0" class="form-control">
          </div>
          <progressbar class="progress progress-striped" [max]="100" [value]="Form.get('CompleteRate').value" type="success">{{Form.get('CompleteRate').value}}%</progressbar>
        </div>
      </div>
      <hr>
      <div class="form-group pb-1">
        <button class="btn btn-success float-right">確認</button>
        <button type="button" class="btn btn-secondary float-right" (click)="disable()">取消</button>
      </div>

    </div>
  </form>
</div>