<ng-container *ngIf="value">
  <ng-content></ng-content>
  <td [attr.data-th]="'UserName'">
    <span>
      <app-custom-select-input [(ngModel)]="value['Id']" [enableInput]="Editable" [LabelName]="value['UserName']" type="user"
        (ngModelChange)="onChangeCallback(value)"></app-custom-select-input>
    </span>
  </td>
  <td [disabled]="disabled" appContentEditable [attr.data-th]="'title'" (ngModelChange)="onChangeCallback(value)"
    [(ngModel)]="value['title']">
  </td>
  <td [attr.data-th]="'ProjectName'">
    {{value['ProjectName']}}
  </td>
  <td [attr.data-th]="'CreateDateTime'">
    {{value['CreateDateTime']|date:'yyyy-MM-dd'}}
  </td>
</ng-container>