<div class="container-fluid">
  <div class="row-fluid">
    <div appPagination [data]="Data" #mf="p-data" [numberPerPage]="10" class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th *ngFor="let column of Columns" class="text-center">
              <span>{{column.name||column.prop}}&nbsp;
                <span [ngClass]="{'asc':!mf.sort[column.prop]||mf.sort[column.prop]==='undefined','desc':mf.sort[column.prop]}" (click)="mf.changeSort(column.prop)"></span>
              </span>
            </th>
            <th>
              <span>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th *ngFor="let column of Columns" class="text-center">
              <input class="form-control" (keyup)="filter($event,column)">
            </th>
            <th>
              <button class="btn btn-success" (click)="add()">新增</button>
            </th>
          </tr>
        </tbody>
        <tbody>
          <ng-container *ngFor="let row of PendingData;let i = index">
            <tr app-project-member-table-row [_ProjectMember]="row" (added)="changeState($event,i)" (delete)="deletePending($event,i)"></tr>
          </ng-container>
        </tbody>
        <tbody>
          <ng-container *ngFor="let row of mf.pageList;let i = index">
            <tr app-project-member-table-row [_ProjectMember]="row" (deleted)="delete($event,i)"></tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td [attr.colspan]="Columns.length+1">
              <ul class="pagination policy-pagination mx-auto">
                <li class="page-item">
                  <a class="page-link" (click)="mf.previousPage()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;&nbsp;上一頁</span>
                    <span class="sr-only"></span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let page of mf.getPageArr(10);">
                  <a class="page-link" [ngClass]="{'active':page===mf.currentPage}" (click)="mf.changePage(page)">{{page}}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="mf.nextPage()" aria-label="Next">
                    <span aria-hidden="true">下一頁&nbsp;&raquo;</span>
                    <span class="sr-only"></span>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>