<div class="container">
  <hr>
  <form class="form-inline row" [formGroup]="Form" (ngSubmit)="submit()">
    <div class="form-group">
      <label>StartDate</label>
      <input type="date" class="form-control" name="start" formControlName="start">
    </div>
    <div class="form-group">
      <label>EndDate</label>
      <input type="date" class="form-control" name="end" formControlName="end">
    </div>
    <div class="form-group">
      <label>Members</label>
      <ss-multiselect-dropdown [options]="Options?.members" [settings]="Settings" formControlName="UIDs"></ss-multiselect-dropdown>
    </div>
    <div class="form-group">
      <label>Projects</label>
      <ss-multiselect-dropdown [options]="Options?.projects" [settings]="Settings" formControlName="PIDs"></ss-multiselect-dropdown>
    </div>
    <button type="submit" class="btn btn-outline-primary">Search</button>
  </form>
  <hr>
  <div class="row">
    <div class="btn-group btn-group-lg d-block mx-auto" role="group">
      <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':Groupby=='day'}" (click)="changeGroup('day')">by day</button>
      <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':Groupby=='week'}" (click)="changeGroup('week')">by week</button>
      <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':Groupby=='month'}" (click)="changeGroup('month')">by month</button>
      <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':Groupby=='member'}" (click)="changeGroup('member')">by member</button>
      <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':Groupby=='project'}" (click)="changeGroup('project')">by project</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-groupbytime [Data]="Data" *ngIf="Groupby!='member'"></app-groupbytime>
      <app-groupbyname [Data]="Data" *ngIf="Groupby=='member'"></app-groupbyname>
    </div>

  </div>
</div>