<div class="container-fluid">
  <div class="row">
    <div class="col col-12">
      <h3>
        {{ProjectMember['ProjectName']}}
        <span class="float-right">
          <button class="btn btn-success" (click)="add()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button class="btn btn-info" (click)="refresh()">
            <i class="fa fa-repeat" aria-hidden="true"></i>
          </button>
          <label class="small">每頁:</label>
          <select [(ngModel)]="QueryModel['Length']" (ngModelChange)="changeLength(QueryModel['Length'])">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
          </select>
        </span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <button class="btn btn-link" (click)="location.back()">回上一頁</button>
      <a class="btn btn-link float-right" [routerLink]="['../member']" [queryParams]="{ PID:ProjectMember['PID'],ProjectName:ProjectMember['ProjectName'] }"
        [routerLinkActive]="'active'">專案人員</a>
      <h2 *ngIf="PagingData.length==0" class="text-center">尚無資料</h2>
    </div>
  </div>
  <div class="row">
    <div class="col col-3 mb-2" *ngFor="let row of PagingData;let i = index;trackBy:trackByFn">
      <app-project-todolist-card title="{{row.PTLID}}" [Editable]="getEditable(PagingData[i])||!PagingData[i]['PTLID']" [(ngModel)]="PagingData[i]"
        (actionChanged)="DispatchAction($event,PagingData[i])"></app-project-todolist-card>
    </div>
  </div>
  <div class="row">
    <div class="d-block mx-auto">
      <pagination [boundaryLinks]="true" [totalItems]="PagingInfo.TotalItems" [itemsPerPage]="QueryModel.Length" [(ngModel)]="PagingInfo.CurrentPage"
        [maxSize]="PagingInfo.MaxSize" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;" (pageChanged)="changePage($event)"></pagination>
    </div>
  </div>
</div>