<div class="container-fluid">
  <div class="row">
    <div class="col col-12">
      <span class="float-right">
        <label class="small">每頁:</label>
        <select [(ngModel)]="QueryModel['Length']" (ngModelChange)="changeLength(QueryModel['Length'])">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
        </select>
      </span>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-success" (click)="add()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <button class="btn btn-info" (click)="refresh()">
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </button>
    <div class="col col-12">
      <h2 *ngIf="PagingData.length==0" class="text-center">尚無資料</h2>
    </div>
  </div>
  <div class="row" [@anim]="PagingData.length">
    <div class="p-2 d-block" style="position:relative" *ngFor="let row of PagingData;let i = index;trackBy:trackByFn">
      <app-ebm-memo-card [disabled]="!PagingData[i]._Editable&&PagingData[i]['MID']" [(ngModel)]="PagingData[i]" (actionChanged)="DispatchAction($event,PagingData[i])"></app-ebm-memo-card>
    </div>
  </div>
  <div class="row">
    <div class="d-block mx-auto">
      <pagination [boundaryLinks]="true" [totalItems]="PagingInfo.TotalItems" [itemsPerPage]="QueryModel.Length" [(ngModel)]="PagingInfo.CurrentPage"
        [maxSize]="PagingInfo.MaxSize" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;" (pageChanged)="changePage($event)"></pagination>
    </div>
  </div>
</div>