<td>
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdownToggle">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <button class="btn btn-link dropdown-item" (click)="Edit()">修改</button>
      </li>
      <li role="menuitem">
        <button class="btn btn-link dropdown-item" (click)="Delete()">刪除</button>
      </li>
    </ul>
  </div>
  <button class="btn btn-success" *ngIf="Editable" (click)="Save()">儲存</button>
</td>
<td [attr.data-th]="'UserName'">
  <span *ngIf="!Editable">{{User['UserName']}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" [(ngModel)]="User['UserName']">
  </span>
</td>
<td [attr.data-th]="'Email'">
  <span *ngIf="!Editable">{{User['Email']}}</span>
  <span *ngIf="Editable">
    <input type="text" class="form-control" [(ngModel)]="User['Email']">
  </span>
</td>
<td [attr.data-th]="'UID'">
  <span>
    <app-custom-select-input [(ngModel)]="User['UID']" [enableInput]="Editable" [LabelName]="User['LineUserName']"
      type="lineuser"></app-custom-select-input>
    <!-- <app-user-select [(ngModel)]="ProjectMember['Id']" [enableInput]="Editable" [UserName]="ProjectMember['UserName']"></app-user-select> -->
  </span>
</td>&nbsp;