<ng-container *ngIf="value">
  <ng-content></ng-content>
  <td [disabled]="disabled" appContentEditable [attr.data-th]="'UserName'" (ngModelChange)="onChangeCallback(value)"
    [(ngModel)]="value['UserName']">
  </td>
  <td [disabled]="disabled" appContentEditable [attr.data-th]="'Email'" (ngModelChange)="onChangeCallback(value)"
    [(ngModel)]="value['Email']">
  </td>
  <td [attr.data-th]="'UID'">
    <span>
      <app-custom-select-input [(ngModel)]="value['UID']" [enableInput]="Editable" [LabelName]="value['LineUserName']" type="lineuser"></app-custom-select-input>
    </span>
  </td>
</ng-container>